<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{url_for('index')}}">Super Ensino</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            {% if g.user %}
            <li><a href="{{url_for('user.profile')}}">Meu Perfil</a></li>
            {% if g.user.is_admin %}
            <li><a href="{{url_for('school.index')}}">Escolas</a></li>
            {% endif %}
            <li><a href="{{url_for('session.delete')}}">Sair</a></li>
            {% else %}
            <li><a href="{{url_for('session.create')}}">Logar</a></li>
            <li><a href="{{url_for('user.create')}}">Registrar</a></li>
            {% endif %}
          </ul>
    </div>
</nav>