{% extends "layouts/default.html" %}

{% block title %}
    {% if school is defined %}
        Editar Escola
    {% else %}
        Cadastrar Escola
    {% endif %}
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Formulario</h3>
    </div>
    <div class="panel-body">
        {% if school is defined %}
        <form action="{{url_for('school.edit', id=school.id)}}" method="post" autocomplete="off">
        {% else %}
        <form action="{{url_for('school.create')}}" method="post" autocomplete="off">
        {% endif %}
            <div class="form-group">
                <label for="name">Nome</label>
                <input type="text" class="form-control" id="name" name="name" value="{{school.name if school is defined}}" placeholder="Nome da Escola" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="director">Diretor</label>
                <input type="text" class="form-control" id="director" name="director" value="{{school.director if school is defined}}" placeholder="Nome do Diretor Responsavel" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="address">Endereço</label>
                <input type="text" class="form-control" id="address" name="address" value="{{school.address if school is defined}}" placeholder="Endereço da Escola" required autocomplete="off">
            </div>
            <div class="form-group">
                <label for="students">Qd. Estudantes</label>
                <input type="number" class="form-control" id="students" name="students" value="{{school.students if school is defined}}" placeholder="Quantidade de estudantes matriculado" required autocomplete="off">
            </div>

            {% if school is defined %}
                <button type="submit" class="btn btn-default">Editar</button>
            {% else %}
                <button type="submit" class="btn btn-default">Cadastrar</button>
            {% endif %}
            <a class="btn btn-default" href="{{url_for('school.index')}}">Voltar</a>
        </form>
    </div>
</div>
{% endblock %}