{% extends "layouts/default.html" %}

{% block title %}Cadastro de Usuario{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Registrar</h3>
    </div>
    <div class="panel-body">
        <form action="{{url_for('user.create')}}" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="is_admin"> É Administrador?
                </label>
            </div>
            <button type="submit" class="btn btn-default">Cadastrar</button>
            <a href="{{url_for('session.create')}}" class="btn btn-default">Logar</a>
        </form>
    </div>
</div>
{% endblock %}