{% extends "layouts/default.html" %}

{% block title %}Lista de Escolas{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Profile</h3>
    </div>
    <div class="panel-body">
        <p>Esse é seu profile.</p>
    </div>
</div>
{% endblock %}