{% extends "layouts/default.html" %}

{% block title %}Lista de Escolas{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5">
                    <h3 style="margin: 5px 0 0 0">Escolas</h3>
                </div>
                <div class="col-lg-5">
                    <form method="get">
                        <div class="input-group">
                            <input type="text" class="form-control" name="q" placeholder="Procurar por nome...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">Procurar</button>
                            </span>
                        </div>
                    </form>
                </div>
                <div class="col-lg-2">
                    <a class="btn btn-default" href="{{url_for('school.create')}}" role="button">Cadastrar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        Nome
                        <a href="{{url}}" class="btn btn-primary btn-xs">||</a>
                    </th>
                    <th>Diretor</th>
                    <th>Endereço</th>
                    <th>Qd. Estudantes</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for school in schools %}
                <tr>
                    <td>{{school.name}}</td>
                    <td>{{school.director}}</td>
                    <td>{{school.address}}</td>
                    <td>{{school.students}}</td>
                    <td>
                        <a class="btn btn-default btn-x2" href="{{url_for('school.edit', id=school.id)}}" role="button">Edit</a>
                        <a class="btn btn-default btn-x2" href="{{url_for('school.delete', id=school.id)}}" role="button">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}